.WeatherCards {
  width: 50%;
  height: 40%;
  margin: auto;
  padding: 1%;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.WeatherCards ul {
  list-style-type: none;
  padding-left: 0px;
}
.WeatherCards ul li {
  border-bottom: 1px solid #ccc;
}

.WeatherCards ul li:last-child {
  padding-bottom: 1%;
}
