.ForecastPerDay{
     width: 100%;
     margin: auto;
     font-size: 1.2rem;
     
}

.ForecastPerDay .row {
     overflow: hidden;
     margin: 1rem auto;
     align-items: stretch;
     display: flex;
}

.ForecastPerDay .row .col{
     text-align: center;
}

.ForecastPerDay .row .col:first-child{
     text-align: left;
     width: 38%;
}

.ForecastPerDay .row .col:last-child{
     text-align: right;
     width: 38%;

}